<div class="center">
  <button class="btn btn-secondary float-right" (click)="logout()">Sign out</button>

  <div class="container project-form">
    <form autocomplete="off" class="form-signin">
      <h3 class="h3 mb-3 font-weight-normal">Nouveau projet</h3>
      <label class="sr-only">Nom du projet</label>
      <input
        (keyup)="onInputUpdate($event.target.value, 'name')"
        type="text"
        class="form-control"
        placeholder="Nom du projet"
        required
      >
      <label class="sr-only">Montant</label>
      <input
        (keyup)="onInputUpdate($event.target.value, 'amount')"
        type="number"
        class="form-control"
        placeholder="Montant du projet, ex: 999"
        required
      >
      <label class="sr-only">Description</label>
      <textarea
        (keyup)="onInputUpdate($event.target.value, 'description')"
        rows="3"
        class="form-control"
        placeholder="Description du projet"
        required
      ></textarea>
      <button
        class="btn btn-lg btn-primary custom-btn btn-block"
        type="submit"
        [disabled]="!formIsValid"
        (click)="onSubmit()"
      >Créer</button>
    </form>
  </div>

  <div *ngIf="projects && projects.length > 0">
  <h3>Projets</h3>
  <table class="project-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Montant</th>
        <th>Description</th>
        <th>Propriétaire</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.name }}</td>
        <td>{{ project.amount }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.ownerUsername }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!(projects && projects.length > 0)">
  <p>Aucun projet trouvé.</p>
</div>

</div>
